body {
background-color: blanchedalmond
}
.jambotron {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	    align-items: center;
	-ms-flex-pack: center;
	    justify-content: center;
	text-transform: uppercase;
	height: 75vh;
	background: #162955;
}