body {
background-color: blanchedalmond
display: flex;
}
.jambotron {
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	height: 75vh;
	background: #162955;
}